.login-container{
  margin-top:70%;
  width: 90% !important;
  margin-left: 5% !important;
  position: absolute;
}

.login-buttonn{
  width : 80% !important;
  margin-left : 10% !important;
  height: 45px !important;
  background-color: #e6a452 !important; 
  color: black !important;
  border-radius: 23px !important;
}

body,html{
  height: 100%;
  margin: 0;
}

.iconn {
  position: relative;
  /* Adjust these values accordingly */
  top: 53px;
	left: 5px;
	font-size: 20px;
}

.img-login{
  background-image: url("https://images.pexels.com/photos/936036/pexels-photo-936036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  
      /* Full height */
      height: 100%; 
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
	  background-size: cover;
	  padding-left: 5%;
	padding-right: 5%;
	padding-top: 40%;
}

.container {
  position: relative;
}

.input-text{
  color: black !important;
}

#login-bottom{
  border-bottom: black !important;
  box-shadow: black !important
}

.neu-registrieren{
  bottom: 0px;
  text-align: center;
  position: fixed;
  width: 100%;
}

.registrieren-container{
  margin-top: 10%;
  width: 90% !important;
  margin-left: 5% !important;
  position: absolute;
}

.carddes{
	background-color: white;
	padding: 20px;
	border-radius: 15px;
	padding-bottom:0;
	box-shadow:0px 0px 14px 0px rgba(50, 50, 50, 0.42);
}

.btnright{
	overflow: hidden;
}

.inputt{
	border:0 !important;
	border-bottom:1px solid rgb(80, 80, 80) !important;
}

.inputt[type=text]:focus{
	border:0;
	box-shadow:none !important;
	border-bottom: 2px solid #40b783 !important;
	animation-name: example;
    animation-duration: 0.7s;
}

.inputt[type=text]:focus::-webkit-input-placeholder {
    opacity: 0;
}

@keyframes example {
    from {width: 0%;border-color: rgb(145, 255, 0);}
    to {width: 100%;}
}

.allbtndown{
	right : 30px;
	bottom : 30px;
	height : 60px;
	width : 60px;
	border-radius: 30px !important;
	position: fixed;
}

.btnLogout{
	position: fixed;
	right : 100px;
	bottom : 30px;
	height : 60px;
	width : 60px;
	border-radius: 30px !important;
}

.allcloth{
	position: fixed;
	right : 170px;
	bottom : 30px;
	height : 60px;
	width : 60px;
	border-radius: 30px !important;
}

.anlassbtn{
	position: fixed;
	right : 240px;
	bottom : 30px;
	height : 60px;
	width : 60px;
	border-radius: 30px !important;
}

.clothpic{
	margin-top: 50px;
	height:250px;
	width : 250px;
	border-radius:125px !important;
	background-color: lightgray;
	cursor: pointer;
}

.divclothpic{
	margin-left: auto !important;
	margin-right: auto !important;
	
	
}

.divweather{
	
	margin-left: auto !important;
	margin-right: auto !important;
	
}

.inputaddcloth{
	margin-left: auto !important;
	margin-right: auto !important;
	width:300px;
}

.divkategorie{
	height: 200px !important;
	width: 200px !important;
	cursor: pointer;
}
